:root {
  --color-text: #222;
  --color-navbar-bg: #ccc;
  --color-navbar-bg-focus: #ccc;
  --color-navbar-text: #222;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  text-size-adjust: 100%;
}

@media (min-width: 1024px) {
  html {
    font-size: 1.2em;
  }
}

body {
  color: var(--color-text);
  line-height: 1.6;
  margin: 0;
}

@media print {
  body {
    padding-top: 0!important;
  }
  nav.navbar {
    position: static!important;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code,
kbd,
pre {
  font-family: "Roboto Mono", monospace;
}

b,
dt,
strong,
th {
  font-weight: bold;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  line-height: var(--body-line-height);
  margin: 0;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.3333rem;
  height: 0.3333rem;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}
